#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.name {
  color: darkgreen;
  font-size: 20px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
.role{
  font-weight: bold;
  color: black;
}
.follow {
  background-color: blue;
}
.message {
  background-color: blue;
  margin-left: 20px;
}
.app {
  background-color: skyblue;
}
.bio {
  color: black;
}
